---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
// 1. 为每个集合条目生成一个新路径
export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. 当渲染的时候，你可以直接从属性中得到条目
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.slug}>
  <article class='mx-auto lg:w-1/2 md:w-3/4 text-base'>
    <h1>{entry.data.title}</h1>
    <Content />
  </article>
</Layout>
