---
import Layout from '../layouts/Layout.astro';
---
<Layout title="about">
<div class="flex flex-col items-center justify-center  py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <!-- <img class="mx-auto h-12 w-auto" src="your-logo.png" alt="Your Logo"> -->
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">关于我们</h2>
    <p class="mt-2 text-center text-sm text-gray-600">我们是一个致力于为用户提供优秀服务的团队。我们的创新思维与专业技术力量是我们取得成功的重要原因。</p>
    
    <div class="flex flex-col items-center justify-center mt-6">
      <h3 class="text-center text-lg font-bold text-gray-800">我们的团队</h3>
      <p class="mt-2 text-center text-sm text-gray-600">我们的团队由富有经验的专业人士组成，他们在他们的专业领域都有着深厚的造诣。</p>
    </div>
  </div>
</div>
</Layout>
